.barra1{
    
    font-family: 'Sancreek', cursive; 
    background-color: black;
    font-size:x-large;
    display:flex;
    justify-content: left;
    align-items: center;
    height: 100px;

    
}


.barra1 :hover{
    background-color: white;
    color: black;
    padding: 50px;
}



.items{
    color: white;
    margin: 0 30px;
    
    }




